# FastAPI Configuration
API_PORT=8001

# DynamoDB Configuration
DYNAMODB_TABLE=users_birthdays
AWS_REGION=eu-central-1
DYNAMODB_ENDPOINT_URL=http://localhost:8000

# Optional IAM Role (for AWS deployment) should be taken from terraform output for certain environment
# IAM_ROLE=arn:aws:iam::123456789012:role/your-role-name 